!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language="javascript", type="text/javascript", src="/javascripts/jquery.js")
    script(language="javascript", type="text/javascript", src="/javascripts/jquery.flot.js")
    script(language="javascript", type="text/javascript", src="/javascripts/jquery.flot.selection.js")
  body!= body
