!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language="javascript", type="text/javascript", src="/javascripts/jquery.js")
    script(language="javascript", type="text/javascript", src="/javascripts/jquery.flot.js")
    script(language="javascript", type="text/javascript", src="/javascripts/jquery.flot.selection.js")
  body
    header
      .status
        | Eingeloggt als:
        span.username= user.username
        a(href='/logout') abmelden
      nav.main
        a(href='/sites') Ranking
        a(href='/users') Benutzer
    .content!= body
